/* ---------- Global formatations -----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: 18px 'Trebuchet MS', Sans-serif;
}
ul{
    list-style: none;
    margin-left: 0;
}
a{
    text-decoration: none;
}
h2{
    font-size: 35px;
    font-weight: bold;
}
/* ---------- General formatations -----------*/
#depoiments h2, #prices h2, #contact h2{
    text-align: center;
    margin-bottom: 40px;
}
.d-flex{ 
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.button{
    outline: none;
    background-color: transparent;
    border: 3px solid black;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
}
/* ---------- Container -----------*/
.container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.container-2{
    width: 50%;
    max-width: 700px;
}
/* ---------- Header -----------*/
header{
    height: 75vh;
    background-image: url("../img/capa_pc_tablet.png");
    background-size: cover;
    background-position: center;
}
#navbar{
    height: 60px;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    align-self: center;
    width: 45px;
    height: 45px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu li{
    margin-left: 25px;
}
.menu a{
    color: #DB695A;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.2s;
}
.menu a:hover{
    color: #fbb1a7;
}
.menu-btn{
    display: none;
}
/* ---------- Banner 1 -----------*/
#banner-1{ 
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#banner-1 h2{
    text-align: justify;
    color: #DB695A;
    margin-bottom: 20px;
}
#banner-1 p{
    color: #DB695A;
    margin-bottom: 20px;
    text-align: justify;
}
#banner-1 button{
    border-color: #DB695A;
    color: #DB695A;
    display: block;
    width: 300px;
}
#banner-1 button:hover{
    color: white;
    background-color: #DB695A;
}
/* ---------- Banner 2 -----------*/
#banner-2{
    background-color: #B9E4ED;
    height: 600px;
}
.d-flex-banner-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner-2 img{
    width: 100%;
}
#banner-2 h2{
    color: #FFF;
    margin-bottom: 20px;
}
#banner-2 p{ 
    color: #FFF;
    margin-bottom: 20px;
}
/* ---------- Depoiments -----------*/
#depoiments{
    height: 600px;
    padding: 30px 0;
}
#depoiments-flex{
    justify-content: center;
    margin-top: 100px;
}
#depoiments h2{
    color: #85A9CD;
}
.depoiment-box{ 
    color: #FFF;
    background-color:#85A9CD;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    width: 250px;
    padding: 20px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.depoiment-box img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}
.depoiment-box h4{
    font-size: 21px;
    margin-bottom: 15px;
}
.depoiment-box p{
    text-align: center;
}
/* ---------- Prices -----------*/
#prices{
    background-color: #F3F3F3;
    height: 600px;
    padding: 30px;
}
#prices h2{
    color: #DB695A;
}
.prices-flex{
    margin-top: 100px;
    justify-content: center;
}
.price-box{
    color: #FFF;
    border-radius: 30px;
    padding: 20px;
    margin: 0 40px;
    width: 250px;
    height: 300px;
}
.price-box h4{
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}
.price-box-1{
    background-color: #DB695A;
}
.price-box-2{
    background-color: #88D1C6;
}
.price-box-3{
    background-color: #FFED00;
}
#price-flex{ 
    font-weight: bold;
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-around;
}
.price-currency{
    font-size: 30px;
}
.price-value{
    font-size: 70px;
}
.price-hour{
    font-size: 30px;
    align-self: flex-end;
}
/* ---------- Contact -----------*/
#contact{
    padding: 30px 0;
    height: 600px;
}
.d-flex-contats{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact h2{
    color: #88D1C6;
}
#contact img{
    width: 100%;
}
#form-box{
    background-color: #F3F3F3;
    border-radius: 20px;
    max-width: 400px;
    height: auto;
    padding: 30px 25px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
#form-box input, #form-box textarea{
    outline: none;
}
#form-box input{
    border: none;
    border-radius: 10px;
    height: 40px;
    text-indent: 15px;
    margin-bottom: 15px;
}
#form-box textarea{
    font: 13.5px 'Trebuchet MS';
    resize: none;
    border: none;
    border-radius: 10px;
    padding: 10px 0;
    width: 100%;
    height: 180px;
    text-indent: 15px;
    margin-bottom: 30px;
}
#form-box button{
    border: none;
    color: #fff;
    background-color: #88D1C6;
    font-size: 15px;
    width: 180px;
    height: 40px;
    margin: 0 auto;
}
#form-box button:hover{
    background-color: #7fe6d6;
}
/* ---------- Footer -----------*/
footer{
    color: #fff;
    background-color: #E88A7D;
    height: auto;
    padding-top: 30px;
    padding-bottom: 20px;
}
footer span#direitos{ 
    font-size: 25px;
}
footer ul{
    margin-top: 20px;
}
footer ul li{
    margin-bottom: 10px;
}
footer a{
    color: #FFF;
}
footer a:hover{
    text-decoration: underline;
}
/* ---------- Modal -----------*/
.modal{
    background-color: rgba(0, 0, 0, 0.486);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: none;
    justify-content: center;
    padding-top: 30px;
}
.modal-message{
    border-radius: 10px;
    background-color: white;
    width: auto;
    height: 120px;
    padding: 20px;
    min-height: 100px;
}
.modal-message button{ 
    color: white;
    font-size: 16px;
    border-color: transparent;
    background-color: #DB695A;
    border-radius: 10px;
    outline: none;
    padding: 5px 12px;
    margin-top: 15px;
    cursor: pointer;
}
.modal-active{
    display: flex;
}
/* ---------- Media Queries -----------*/

/* Big Tablets/Ipad Pro Screen */
@media (max-width:1024px){

    .container{
        width: 100%;
        padding: 0 20px;
    }
    
    /* ---------- Global formatations -----------*/
    body{
        font-size: 15px;
    }
    h2{
        font-size: 24px;
    }
    /* ---------- General formatations -----------*/
    .button{
        font-size: 16px;
    }
    /* ---------- Header -----------*/
    header{ 
        height: 600px;
    }
    /* ---------- Banner 1 -----------*/
    #banner-1{
        width: 320px;
    }
    #banner-1 button{
        width: 100%;
    }
    /* ---------- Depoiments -----------*/
    #depoiments{
        height: 550px;
    }
    #depoiments-flex{
        margin-top: 70px;
    }
    .depoiment-box{ 
        width: 215px;
        padding: 15px 10px;
    }
    /* ---------- Prices -----------*/
    .prices-flex{
        margin-top: 100px;
    }
    .price-box{
        padding: 20px;
        width: 200px;
        height: 250px;
    }
    .price-box h4, 
    .price-currency,
    .price-hour{
        font-size: 25px;
    }
    .price-value{
        font-size: 60px;
    }
    /* ---------- Contact -----------*/
    #contact img {
        width: 100%;
        max-height: none;
    }
    /* ---------- Footer -----------*/
    footer span#direitos{ 
        font-size: 22px;
    }
    footer a{
        color: #FFF;
    }
}

/* Mobile Screen */
@media(max-width:767px){

    /* ---------- Global formatations -----------*/
    body{
        font-size: 14px;
    }
    h2{
        font-size: 21px;
    }
    /* ---------- General formatations -----------*/
    .container-2{
        width: 100%;
    }
    .d-flex{
        flex-direction: column;
        justify-content: center;
    }
    .d-none-mobile{
        display: none;
    }
    .button{
        font-size: 14px;
    }
    /* ---------- Header -----------*/
    header{
        height: 500px;
    }
    #navbar ul a{
        font-size: 16px;
    }
    /* ---------- Banner 2 -----------*/
    .d-flex-banner-2{
        flex-direction: column;
    }
    #banner-2{
        height: auto;
        padding: 40px 0;
    }
    #banner-2 img{
        max-width: 400px;
        height: auto;
    }
    .img-center-mobile{
        display: flex;
        justify-content: center;
    }
    #banner-2 h2{
        text-align: center;
    }
    /* ---------- Depoiments -----------*/
    #depoiments{
        height:auto;
    }
    #depoiments-flex{
        margin-top: 40px;
    }
    .depoiment-box{ 
        width: 220px;
        height: 260px;
        margin-bottom: 20px;
    }
    .depoiment-box h4{
        font-size: 20px;
    }
    .depoiment-box p{
        font-size: 15px;
    }
    /* ---------- Prices -----------*/
    #prices{
        height: auto;
    }
    .prices-flex{
        margin-top: 30px;
    }
    .price-box{
        width: 180px;
        height: 220px;
        margin-bottom: 20px;
    }
    .price-box h4, 
    .price-currency,
    .price-hour{
        font-size: 18px;
    }
    .price-value{
        font-size: 45px;
    }
    /* ---------- Contact -----------*/
    #contact{
        height: 500px;
    }
    #d-form-mobile{
        display: flex;
        justify-content: center;
    }
    #form-box{
        margin: 0;
        width: 400px;
        height: 370px;
    }
    /* ---------- Footer -----------*/
    footer span#direitos,
    footer span#direitos a{ 
        font-size: 16px;
    }
    footer a{
        font-size: 11.5px;
    }
}

/* Smartphone Screen */
@media(max-width:425px){
    /* ---------- Header -----------*/
    header{
        height: 100vh;
    }
    #logo{
        width: 35px;
        height:35px;
    }
     /* ---------- Navbar menu -----------*/
    .menu{ 
        background-color: #DB695A;
        display: flex;
        position: fixed;
        top: 0;
        right: -100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 200px;
        height: 100%;
        padding-top: 60px;
        transition: all .2s;
    }
    .menu li{
        margin-bottom: 20px;
    }
    .menu a{
        color: white;
    }
    .menu-active{ /* Stopped here*/
        right: 0;
        transition: all .2s;
    }
    .menu-btn{
        display: block;
        width: 25px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 0;
        transition: all .2s;
    }
    .menu-bars{
        width: 100%;
        height: 2px;
        background-color: #DB695A;
        transition: all .2s;
    }
    .menu-btn-active .menu-bars{
        background-color: white;
        transition: all .2s;
    }
    .bar-1{
        transform-origin: left;
    }
    .bar-3{
        transform-origin: left;
    }
    .menu-btn-active .bar-1{
        transform: rotate(45deg);
    }
    .menu-btn-active .bar-2{
        display: none;
    }
    .menu-btn-active .bar-3{
        transform: rotate(-45deg);
    }
    /* ---------- Banner-1 -----------*/
    #banner-1{
        width: 100%;
    }
    #banner-1 h2{
        text-align: center;
    }
    /* ---------- Contacts -----------*/
    #form-box{
        width: 100%;
        height: 370px;
    }
    #form-box button{
        width: 100%;
    }
}