/* ---------- Global formatations -----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font: 18px 'Trebuchet MS', Sans-serif;
}

ul{
    list-style: none;
    margin-left: 0;
}
a{
    text-decoration: none;
}
h2{
    font-size: 35px;
    font-weight: bold;
}

/* ---------- General formatations -----------*/
#depoiments h2, #prices h2, #contact h2{
    text-align: center;
    margin-bottom: 40px;
}
.font-bold{
    font-weight: bold;
}
.d-flex{ 
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.button{
    outline: none;
    background-color: transparent;
    border: 3px solid black;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
}
/* ---------- Container -----------*/
.container{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.container-2{border: 1px solid none;
    width: 50%;
}

/* ---------- Header -----------*/
header{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 5;
    background-color: #FFF;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container img{
    display: flex;
    align-self: center;
    width: 45px;
    height: 45px;
}
nav#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav#navbar li{
    margin-left: 25px;
}
nav#navbar a{
    color: #DB695A;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.2s;
}
nav#navbar a:hover{
    color: #fbb1a7;
}

/* ---------- Banner 1 -----------*/
#banner-1{
    background-color: #f3fdfd;
    height: 600px;
}
#banner-1 h2{
    color: #E59085;
    margin-bottom: 20px;
}
#banner-1 p{
    color: #6e6e6e;
    margin-bottom: 20px;
    text-align: justify;
}
#banner-1 button{
    border-color: #E59085;
    color: #E59085;
}
#banner-1 button:hover{
    color: white;
    background-color: #E59085;
}
#banner-1 img{
    width: 100%;
}

/* ---------- Banner 2 -----------*/
#banner-2{
    background-color: #B9E4ED;
    height: 600px;
}
#banner-2 h2{
    color: #FFF;
    margin-bottom: 20px;
}
#banner-2 p{
    color: #FFF;
    margin-bottom: 20px;
}

/* ---------- Depoiments -----------*/
#depoiments{
    height: 600px;
    padding: 30px 0;
}
#depoiments-flex{
    justify-content: space-around;
    margin-top: 100px;
}
#depoiments h2{
    color: #85A9CD;
}
.depoiment-box{ 
    color: #FFF;
    background-color:#85A9CD;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.depoiment-box img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}
.depoiment-box h4{
    font-size: 21px;
    margin-bottom: 15px;
}
.depoiment-box p{
    text-align: center;
}

/* ---------- Prices -----------*/
#prices{
    background-color: #F3F3F3;
    height: 600px;
    padding: 30px;
}
#prices h2{
    color: #DB695A;
}
.prices-flex{
    margin-top: 100px;
    justify-content: space-around;
}
.price-box{
    color: #FFF;
    border-radius: 30px;
    padding: 20px 0;
    width: 250px;
    height: 300px;
}
.price-box h4{
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}
.price-box-1{
    background-color: #DB695A;
}
.price-box-2{
    background-color: #88D1C6;
}
.price-box-3{
    background-color: #FFED00;
}
#price-flex{ 
    font-weight: bold;
    display: flex;
    margin: 0 auto;
    width: 200px;
    justify-content: space-around;
}
.price-currency{
    font-size: 30px;
}
.price-value{
    font-size: 70px;
}
.price-hour{
    font-size: 30px;
    align-self: flex-end;
}

/* ---------- Contact -----------*/
#contact{
    padding: 30px;
    height: 600px;
}
#contact h2{
    color: #88D1C6;
}
#form-box{
    background-color: #F3F3F3;
    border-radius: 20px;
    width: 500px;
    height: 400px;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
}
#form-box input{
    border: none;
    border-radius: 10px;
    height: 40px;
    text-indent: 15px;
    margin-bottom: 15px;
}
#form-box textarea{
    font: 13.5px 'Trebuchet MS';
    resize: none;
    border: none;
    border-radius: 10px;
    padding: 10px 0;
    width: 450px;
    height: 180px;
    text-indent: 15px;
    margin-bottom: 20px;
}
#form-box button{
    border: none;
    color: #fff;
    background-color: #88D1C6;
    font-size: 15px;
    width: 180px;
    height: 40px;
    margin: 0 auto;
}
#form-box button:hover{
    background-color: #7fe6d6;
}

/* ---------- Footer -----------*/
footer{
    color: #fff;
    background-color: #E88A7D;
    height: 300px;
    padding-top: 30px;
}
footer span#direitos{ 
    font-size: 25px;
}
footer ul{
    margin-top: 20px;
}
footer ul li{
    margin-bottom: 10px;
}
footer a{
    color: #FFF;
}
footer a:hover{
    text-decoration: underline;
}
/* ---------- Media Queries -----------*/

/* Tablet/Ipad Screen */
@media(max-width:768px){

}

/* Mobile Screen */
@media(max-width:556px){

}